node_modules/
package-lock.json

# Docusaurus build artifacts
.docusaurus/

# Do NOT ignore build for Vercel
# build/

# Environment
.env*

# OS
.DS_Store
Thumbs.db
desktop.ini

# IDE
.vscode/
.idea/

# Logs
*.log

# Vercel
.vercel/

# Rag Chatbot
rag-chatbot/
